@model TodoListViewModel
@{
    ViewData["ActiveSection"] = "List";
}


<div class="container py-4">
    <div class="card shadow-light rounded p-3 mb-3 col-md-8">

        <div class="d-flex justify-content-between align-items-center mb-2">

        <!-- Page Title -->
        <h2 class="mb-3">Todo List</h2>

        @if(Model.Id != 0)
            {
                
            <a type="button" class="btn btn-danger" asp-controller="TodoList" asp-action="Delete" asp-route-id="@Model.Id">
                <i class="bi bi-trash3"></i>
            Delete
        </a>
            }
        </div>

        <!-- Form -->
        <form asp-action="CreateEdit" method="post" class="needs-validation">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Title" class="form-label fw-bold"></label>
                <input asp-for="Title" class="form-control shadow-sm rounded border-0" placeholder="Enter a title for your todo list" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label fw-bold"></label>
                <textarea asp-for="Description" rows="3" class="form-control shadow-sm rounded border-0" placeholder="Enter a description" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- Buttons -->
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary shadow-sm rounded px-4">
                    <i class="bi bi-floppy me-1"></i> Save
                </button>
                <a asp-action="Index" asp-controller="TodoList" asp-route-listId="@Model.Id" class="btn btn-outline-secondary shadow-sm rounded px-4">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .form-control:focus {
        border-color: #0d6efd;
        box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }
</style>
