html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

    /* Dark Theme Base */
    body.dark-theme {
        background-color: #151515;
        color: #c0c0c0;
    }

/* Links */
a {
    color: #4aa3ff;
}

    a:hover {
        color: #82c0ff;
    }

/* Bootstrap overrides */
.card,
.list-group-item,
.page-link,
.form-control,
.form-select {
    /*background-color: #1a1a1a !important;*/
    background-color: #262525 !important;
    color: #f0ebeb !important;
    border: 1px solid #2a2a2a !important;
}

.page-link {
    color: #c0c0c0;
    border: 1px solid #2a2a2a;
}

    .page-item.active .page-link,
    .page-link.active-page {
        background-color: #4aa3ff !important;
        border-color: #4aa3ff !important;
        color: #fff !important;
    }

    .page-link:hover {
        background-color: #1e1e1e;
        color: #fff;
    }

.form-select.text-light {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='white' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.form-select {
    border-radius: 6px;
    background: #1e1e1e;
    border: 1px solid #333;
    color: #c0c0c0;
    padding-right: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
}

    .form-select option {
        background: #1e1e1e;
        color: #c0c0c0;
    }

.shadow-light {
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15) !important;
    background-color: #1f2937 !important
}

.form-control:focus,
.form-select:focus {
    border-color: #0d6efd !important;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25) !important;
}

.form-control,
.form-select {
    background-color: #2d3748 !important;
}

.badge-tag {
    background: linear-gradient(135deg, #8e2de2 0%, #4a00e0 100%) !important;
}

.list-group-item-action:hover {
    /* background-color: #1e1e1e !important; */
    background: #1f2937 !important;
    transform: translateY(-2px);
    transition: 0.2s ease;
}